---
import { m } from "@paraglide/messages";
import { getCollection } from "astro:content";
import RootLayout from "src/layout/RootLayout.astro";
import BlogpostItem from "@components/BlogpostItem.astro";

export const getStaticPaths = () =>
  ["es", "pt-br"].map((locale) => ({
    params: { locale },
  }));

const { locale } = Astro.params;

const collection = await getCollection(
  "blog",
  ({ data }) => data.language === locale,
);
---

<RootLayout title="Veloren SA" locale={locale}>
  <main class="blogposts">
    {
      collection
        .sort(
          (post1, post2) =>
            post2.data.date.getTime() - post1.data.date.getTime(),
        )
        .map((post) => <BlogpostItem post={post.data} />)
    }
  </main>
</RootLayout>

<style>
  .blogposts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 4rem;
  }
</style>
