:root {
  --color-primary: #a259ff;
  --text-color: #000;
  --background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Code Variable";
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  text-shadow: var(--color-primary) -4px 4px;
}

h2 {
  font-size: 2.25rem;
  text-shadow: var(--color-primary) -3px 3px;
}

h3 {
  font-size: 2rem;
  text-shadow: var(--color-primary) -2px 2px;
}

h4 {
  font-size: 1.5rem;
  text-shadow: var(--color-primary) -1px 1px;
}

* {
  font-family: "Inter Variable";
}

body {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

body.dark {
  color: var(--background-color);
  background-color: var(--text-color);
}

body.dark a {
  color-scheme: dark;
  color: aquamarine;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
